.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  color: #717171;

  & th {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
  }

  & td {
    padding: 0.8rem;
    color: #333;
  }
}

.row {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #e7e7e7;
  }
}

.empty-table {
  margin: 1rem 0.8rem;
}
