.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
  color: #717171;

  & th {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
  }

  & td {
    padding: 0.8rem;
    color: #333;
  }
}
