.btn {
  display: inline-block;
  border-radius: 50%;
  padding: 1.2rem;
  background-color: #0099ff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #0077cc;
}
